shoptitflow.json
[{"id":"d754c884.a8e7e8","type":"http in","z":"9a08ade1.4b427","name":"","url":"/getProduct/bluejeans34","method":"get","swaggerDoc":"","x":145,"y":186,"wires":[["ceb738dd.983a48"]]},{"id":"ceb738dd.983a48","type":"template","z":"9a08ade1.4b427","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"       {\n       \t\"products\": [{\n       \t\t\"title\": \"Slim Fit Stretch Jeans\",\n       \t\t\"subtitle\": \"H&M\",\n       \t\t\"imageUrl\": \"asset1.marksandspencer.com/is/image/mands/SD_03_T17_2832A_XB_X_EC_0?wid=300&hei=390\",\n       \t\t\"rating\": \"4.5\",\n       \t\t\"price\": \"£15.0\",\n       \t\t\"buttons\": [{\n       \t\t\t\"text\": \"Buy\",\n       \t\t\t\"postback\": \"\"\n       \t\t}],\n       \t\t\"type\": 1\n       \t}, {\n       \t\t\"title\": \"Skinny Fit Stretch Jeans\",\n       \t\t\"subtitle\": \"M&S\",\n       \t\t\"imageUrl\": \"asset1.marksandspencer.com/is/image/mands/SD_03_T17_1387Q_E0_X_EC_0?wid=300&hei=390\",\n       \t\t\"rating\": \"3.5\",\n       \t\t\"price\": \"£20.0\",\n       \t\t\"buttons\": [{\n       \t\t\t\"text\": \"Buy\",\n       \t\t\t\"postback\": \"\"\n       \t\t}],\n       \t\t\"type\": 1\n       \t}, {\n       \t\t\"title\": \"Straight Fit Stretch Jeans\",\n       \t\t\"subtitle\": \"GAP\",\n       \t\t\"imageUrl\": \"asset1.marksandspencer.com/is/image/mands/SD_03_T17_1363B_Y0_X_EC_0?wid=300&hei=390\",\n       \t\t\"rating\": \"3\",\n       \t\t\"price\": \"£25.0\",\n       \t\t\"buttons\": [{\n       \t\t\t\"text\": \"Buy\",\n       \t\t\t\"postback\": \"\"\n       \t\t}],\n       \t\t\"type\": 1\n       \t}]\n       }","x":355,"y":128,"wires":[["6d890b09.af3244"]]},{"id":"6d890b09.af3244","type":"change","z":"9a08ade1.4b427","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":515,"y":128,"wires":[["57c4a98f.83e328"]]},{"id":"57c4a98f.83e328","type":"http response","z":"9a08ade1.4b427","name":"responseHTTP","x":705,"y":128,"wires":[]}]
